(
    initial_agents: [
        "swordsman",
        "alchemist",
    ],
    nodes: [
        (
            scenario: (
                map_radius: (4),
                rocky_tiles_count: 5,
                objects: [
                    (
                        owner: Some((1)),
                        typename: "imp",
                        line: Front,
                        count: 2,
                    ),
                ],
            ),
            award: (
                recruits: [
                    "spearman",
                ],
            ),
        ),
        (
            scenario: (
                map_radius: (4),
                rocky_tiles_count: 8,
                objects: [
                    (
                        owner: Some((1)),
                        typename: "imp",
                        line: Front,
                        count: 6,
                    ),
                ],
            ),
            award: (
                recruits: [],
            ),
        ),
    ],
)
