({
    "swordsman": [
        Blocker(()),
        Strength((
            base_strength: (4),
            strength: (4),
        )),
        Agent((
            moves: (1),
            attacks: (1),
            jokers: (1),
            reactive_attacks: (1),
            attack_distance: (1),
            move_points: (3),
            base_moves: (1),
            base_attacks: (1),
            base_jokers: (1),
        )),
        Abilities(([
            (ability: Knockback, status: Ready),
            (ability: Club, status: Ready),
            (ability: Jump, status: Ready),
            (ability: Poison, status: Ready),
            (ability: Explode, status: Ready),
            (ability: ThrowBomb, status: Ready),
        ])),
    ],
    "spearman": [
        Blocker(()),
        Strength((
            base_strength: (3),
            strength: (3),
        )),
        Agent((
            moves: (0),
            attacks: (0),
            jokers: (1),
            reactive_attacks: (3),
            attack_distance: (2),
            move_points: (3),
            base_moves: (0),
            base_attacks: (0),
            base_jokers: (1),
        )),
        Abilities(([
            (ability: Jump, status: Ready),
        ])),
    ],
    "imp": [
        Blocker(()),
        Strength((
            base_strength: (2),
            strength: (2),
        )),
        Agent((
            moves: (1),
            attacks: (1),
            jokers: (0),
            reactive_attacks: (1),
            attack_distance: (1),
            move_points: (3),
            base_moves: (1),
            base_attacks: (1),
            base_jokers: (0),
        )),
    ],
    "boulder": [
        Blocker(()),
    ],
    "bomb": [
        Blocker(()),
    ],
})
